<!DOCTYPE html>
<html>
  <head>
    <title>ACTION</title>
  </head>
  <style>

 .container {
  display: flex;
  align-items: right;
  justify-content: left;}


img {
  width: 150;
  height: 150;}


.text {
  font-size: 10px;
  padding-left: 10px;
}
  </style>
  <body style="background-color: aqua;">
    <center><h1> ACTION BOOKS</h1></center>
    <div class="container">
      <div class="image">
        <table style="text-align: center;">
            <tr>
                <td>
                    <img src="https://th.bing.com/th/id/OIP.u1jvgQh_S5zIR3e4uX5oNwHaLH?pid=ImgDet&rs=1" width="220" height="220">
                </td>
                <td><a href="https://www.goodreads.com/book/show/5907.The_Hobbit">
                <h1>The HOBBIT</h1></a> <h3>BOOK BY J.R.R.TOLKIEN </h3><br> <h3>Price ₹60</h3> 

                </td>
                <td>
                    <img src="https://i.pinimg.com/originals/c4/38/e6/c438e616f7d67c295b30e27735a2054c.jpg" width="220" height="220">
                </td>
                <td><a href="https://www.goodreads.com/book/show/2932.Robinson_Crusoe">
                <h1>ROBINSON CRUSOE</h1></a> <h3>BOOK BY DANIEL DEFOE </h3> <h3>Price ₹70</h3>  

                </td>
                <td>
                    <img src="https://i.pinimg.com/originals/30/a8/65/30a865bf46be5b9f0f187ace336bc444.png" width="220" height="220">
                </td>
                <td><a href="https://www.goodreads.com/book/show/7869.The_Bourne_Identity">
                <h1>THE BOURNE IDENTITY</h1></a> <h3>BOOK BY ROBERT LUDLUM</h3> <h3>Price ₹80</h3> 

                </td>
                <td>
                 <img src="https://cdn-content-oz2.storbie.com/images/project-hail-mary-500-r112x.jpg?i=oQGJjB0pa_QKxG9mQEat_bwHUIVeAQMG1Mp0ySu2M7scdnX49VTRdoGkzrE-JeRExoFCwORnlLKIWtbfxNn4ogaD8jxBhX--wce3cW3a9RcSx_6aydQmAGobt7Kw1ERTmLLnsrdM6KmTJgzXlxcNhLjMmTE-s8dqhsbu57qI75gfHQK6Js80bU79GIHlp5OE6laCgw9WZ7e-z2byIB8KRt4H9kuKl1Z4hHowuolnQmDjgmwQQoxC8AVxZGoMoqbJzZDpe9j1-bH8WxS_wsLd_A~~" width="220" height="220">
                </td>
                <td><a href="https://www.goodreads.com/en/book/show/54493401">
                <h1>PROJECT HAIL MARY</h1></a> <h3>BOOK BY ANDY WEIR </h3> <h3>Price ₹90</h3> 
                    <br>
                </td><br>
                <tr>
                <td>
                <img src="https://i.redd.it/xthqt89pjr501.jpghttps://i.redd.it/xthqt89pjr501.jpg" width="220" height="220">
                </td>
                <td><a href="https://www.goodreads.com/book/show/40604658-jurassic-park">
                <h1>JURASSIC PARK</h1></a> <h3>BOOK BY MICHAEL CRICHTON  </h3> <h3>Price ₹80</h3> 
                <br>
                </td><br>
                <td>
                <img src="https://th.bing.com/th/id/OIP.rMTksNyDUsmcFmaAg79iIQAAAA?pid=ImgDet&rs=1" width="220" height="220">
                </td>
                <td><a href="https://www.goodreads.com/en/book/show/4569828">
                <h1>THE MARTIN</h1></a> <h3>BOOK BY ANDY WEIR  </h3> <h3>Price ₹90</h3> 
                <br>
                </td><br>
                <td>
                <img src="https://m.media-amazon.com/images/I/616kpm90cJL._SL500_.jpg" width="220" height="220">
                </td>
                <td><a href="https://www.goodreads.com/book/show/210834.Kim">
                <h1>KIM</h1></a> <h3>BOOK BY RUDYARD KIPLING </h3> <h3>Price ₹90</h3> 
                <br>
                </td><br>
                <td>
                <img src="https://th.bing.com/th/id/OIP._GolZ0Txs5o0ozVQVaYdqgHaLX?pid=ImgDet&rs=1" width="220" height="220">
                </td>
                <td><a href="https://www.goodreads.com/book/show/2767052-the-hunger-games">
                <h1>THE HUNGER GAMES</h1></a> <h3>BOOK BY SUZANNE COLLINS  </h3> <h3>Price ₹90</h3> 
                <br>
                </td><br>
                </tr>
            </tr>

        </table>
      </div>
      </div>

  </body>
</html>
</html>


