<!DOCTYPE html>
<html>
  <head>
    <title>HORROR</title>
  </head>
  <style>
 
 .container {
  display: flex;
  align-items: right;
  justify-content: left;}


img {
  width: 150;
  height: 150;}
  

.text {
  font-size: 10px;
  padding-left: 10px;
}
  </style>
  <body style="background-color: lightpink;">
    <center><h1>CHILDREN LITERATURE BOOKS</h1></center>
    <div class="container">
      <div class="image">
        <table style="text-align: center;">
            <tr>
                <td>
                    <img src="https://i.pinimg.com/originals/a9/eb/8d/a9eb8df4067d12049c95b0d305287402.jpg"width="250" height="250">
                </td>
                <td><a href="https://www.goodreads.com/book/show/1934.Little_Women">
                <h1>LITTLE WOMEN</h1></a> <h3>BOOK BY LOUSIA MAY ALCOTT </h3><br> <h3>Price ₹60</h3> 
                        
                </td>
                <td>
                    <img src="https://th.bing.com/th/id/OIP.t6I_5dPZm5asoW1O0n4yHgHaH-?pid=ImgDet&rs=1"  width="220" height="220">
                </td>
                <td><a href="https://en.wikipedia.org/wiki/The_Little_Prince">
                <h1>LITTLE PRINCE</h1></a> <h3>BOOK BY ANTOINE DE SAINT EXUPERY</h3> <h3>Price ₹70</h3> 
                </td>          
                <td>
                <img src="https://th.bing.com/th/id/OIP.5zJByo8rauzaeo1tIdd_DAHaJ4?pid=ImgDet&rs=1"width="250" height="250">
                </td>
                <td><a href="https://www.goodreads.com/book/show/2998.The_Secret_Garden">
                <h1>THE SECRET GARDEN</h1></a> <h3>BOOK BY FRANCES HODGSON BURNETT </h3> <h3>Price ₹80</h3> 
                                        
                </td>

                <td>
                <img src="https://i.pinimg.com/originals/bb/f7/30/bbf73094d84f0c8a68d3b98e06bd56a3.jpg" width="220" height="220">
</td>
                <td><a href="https://www.goodreads.com/book/show/164531.The_Railway_Children">
                <h1>THE RAILWAY CHILDREN </h1></a> <h3>BOOK BY E NESBIT  </h3> <h3>Price ₹80</h3> 
                                        








                ><br>
                <tr>
                <td>
                <img src="https://th.bing.com/th/id/OIP.7X2GU_ggEokDc-1ttFPaEwHaI_?pid=ImgDet&rs=1" width="220" height="220">
</td>
                <td><a href="https://www.goodreads.com/book/show/3685.Black_Beauty">
                <h1>BLACK BEAUTY</h1></a> <h3>BOOK BY ANNA SWELL </h3> <h3>Price ₹80</h3> 
                <br>
                </td><br>
                <td>
                <img src="https://th.bing.com/th/id/R.01316b45b96e11e22ccaf745304094ae?rik=5vYu3SEbuLOw0w&riu=http%3a%2f%2fprodimage.images-bn.com%2fpimages%2f9780062853523_p0_v1_s1200x630.jpg&ehk=HV09aOaC0pFHPbKL2nnv6c2BzsVH%2bDLSbI09690xxTI%3d&risl=&pid=ImgRaw&r=0" width="220" height="220">
</td>
                <td><a href="https://www.goodreads.com/book/show/24178.Charlotte_s_Web">
                <h1>CHARLOTTES WEB</h1></a> <h3>BOOK BY EB WHITE  </h3> <h3>Price ₹90</h3> 
                <br>
                </td><br>
                <td>
                <img src="https://th.bing.com/th/id/OIP.70RfzS5Sp6A4cpOt7Zn_dgHaJ4?pid=ImgDet&rs=1" width="220" height="220">
</td>
                <td><a href="https://en.wikipedia.org/wiki/Winnie-the-Pooh_(book)">
                <h1>WINNIE THE POOH</h1></a> <h3>BOOK BY BS A A MILNE</h3> <h3>Price ₹90</h3> 
                <br>
                </td><br>
                <td>
                <img src="https://4.bp.blogspot.com/-nuI7A3O2u9o/ViVMonHfTUI/AAAAAAAAA38/4wDqKNu1V5M/s1600/DSCN9843.JPG"width="220" height="220">
                </td>
                <td><a href="https://en.wikipedia.org/wiki/A_Wrinkle_in_Time">
                <h1>A WRINKLE IN TIME</h1></a> <h3>BOOK BY MADELEINE LENGLE </h3> <h3>Price ₹90</h3> 
                <br>
                </td><br>
                </tr>
                                                
                        
                    
            </tr>
            
        </table>
    

        
      </div>
      </div>
      
  </body>
</html>