<!DOCTYPE html>
<html>
  <head>
    <title> NON FICTION</title>
  </head>
  <style>

 .container {
  display: flex;
  align-items: right;
  justify-content: left;}


img {
  width: 150;
  height: 150;}


.text {
  font-size: 10px;
  padding-left: 10px;
}
  </style>
  <body style="background-color: chartreuse;">
    <center><h1> NON FICTION BOOKS</h1></center>
    <div class="container">
      <div class="image">
        <table style="text-align: center;">
            <tr>
                <td>
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51ZgqYqwuAL._SY344_BO1,204,203,200_.jpg" width="220" height="220">
                </td>
                <td><a href="https://www.goodreads.com/book/show/8146619-the-right-stuff">
                <h1>THE RIGHT STUFF</h1></a> <h3>BOOK BY TOM WOLFE</h3><br> <h3>Price ₹60</h3> 

                </td>
                <td>
                    <img src="https://th.bing.com/th/id/OIP.HOvVE8X_yPeBrFS6h0Y3qQAAAA?pid=ImgDet&rs=1" width="220" height="220">
                </td>
                <td><a href="https://www.goodreads.com/en/book/show/27333">
                <h1>SILENT SPRING</h1></a> <h3>BOOK BY RACHEL CARSON</h3> <h3>Price ₹70</h3>  

                </td>
                <td>
                    <img src="https://th.bing.com/th/id/OIP.ZFj9A6MaO_3keJ9AkGcXDgHaLH?pid=ImgDet&rs=1" width="220" height="220">
                </td>
                <td><a href="https://www.goodreads.com/book/show/168642.In_Cold_Blood">
                <h1>IN COLD BLOOD</h1></a> <h3>BOOK BY TRUMAN CAPOTE</h3> <h3>Price ₹80</h3> 

                </td>
                <td>
                 <img src="https://th.bing.com/th/id/OIP.QOaBZRT8-X2UUe3Rvkd0NgHaLb?pid=ImgDet&rs=1" width="220" height="220">
                </td>
                <td><a href="https://www.goodreads.com/book/show/1898.Into_Thin_Air">
                <h1>INTO THE AIR</h1></a> <h3>BOOK BY JEANNIE LEVIG </h3> <h3>Price ₹90</h3> 
                    <br>
                </td><br>
                <tr>
                <td>
                <img src="https://th.bing.com/th/id/OIP.HYLBn56zROhlrB1Y5ar29AAAAA?pid=ImgDet&rs=1" width="220" height="220">
                </td>
                <td><a href="https://www.goodreads.com/book/show/3228917-outliers">
                <h1>OUTLIERS</h1></a> <h3>BOOK BY MALCOLM GLADWELL </h3> <h3>Price ₹80</h3> 
                <br>
                </td><br>
                <td>
                <img src="https://th.bing.com/th/id/R.9d9e326020ff8aa9a7c9b0fece900315?rik=luxbQOOhDXWLmA&riu=http%3a%2f%2fs.s-bol.com%2fimgbase0%2fimagebase%2flarge%2fFC%2f4%2f6%2f1%2f5%2f1001004011695164.jpg&ehk=YDE5sofXOgSoOLzRuLKO%2bsfsLCyYPmorbPgoxXNN8KE%3d&risl=&pid=ImgRaw&r=0" width="220" height="220">
                </td>
                <td><a href="https://www.goodreads.com/book/show/3869.A_Brief_History_of_Time">
                <h1>A BRIEF HISTORY TIME</h1></a> <h3>BOOK BY STEPHEN HAWKING </h3> <h3>Price ₹90</h3> 
                <br>
                </td><br>
                <td>
                <img src="https://th.bing.com/th/id/OIP.SpRnrZmwPqEapv7g2sK0UAHaLB?pid=ImgDet&rs=1" width="220" height="220">
                </td>
                <td><a href="https://www.goodreads.com/book/show/1845.Into_the_Wild">
                <h1>INTO THE WILD</h1></a> <h3>BOOK BY JON KRAKAUER</h3> <h3>Price ₹90</h3> 
                <br>
                </td><br>
                <td>
                <img src="https://th.bing.com/th/id/OIP.p-9zLQ51X_sO6okJKsNTfQHaLf?pid=ImgDet&rs=1" width="220" height="220">
                </td>
                <td><a href="https://www.goodreads.com/en/book/show/356824"><h3>Get It By:19 June-21 June</h3>
                <br>
                </td><br>
                </tr>



            </tr>

        </table>



      </div>
      </div>

  </body>
</html>
</html>


