<!DOCTYPE html>
<html>
<head>
    <title>POETRY</title>
   </head>
<body style="background-color: chocolate;"> 
<h1><center><u>POETRY BOOKS</center></u></h1>
<table>
    <tr>
        <td><img src="https://th.bing.com/th/id/OIP.fuqpX5lqpqv73gmqRu2rWwHaLH?pid=ImgDet&rs=1" width="220" height="216">
        </td>
        <td><a href="https://www.goodreads.com/book/show/27494.Leaves_of_Grass"> <h1>Leaves Of The Grass</a></h1>  <h3>Walt Whiteman</h3> <h2>price=₹80</h2></td>

        <td><img src="https://th.bing.com/th/id/OIP.7MxGVZyoGL0hCNML9PlPhgAAAA?pid=ImgDet&rs=1" width="220" height="216">
        </td>
        <td><a href="https://www.goodreads.com/en/book/show/31426"> <h1>The Collected Poems</a></h1>  <h3>Sylvia Path</h3> <h2>price=₹74</h2></td>

        <td><img src="https://cdn.shopify.com/s/files/1/0249/3828/3082/products/image_7d9fd241-6fba-4287-a0c3-9a92e9f17179_900x.jpg?v=1582980130" width="220" height="216">
        </td>
        <td><a href="https://www.goodreads.com/en/book/show/517190"> <h1>On love And Barley</a></h1>  <h3>Matsuo Basho</h3> <h2>price=₹74</h2></td>

        <td><img src="https://i.pinimg.com/originals/bf/b3/ae/bfb3aee9a96706b172d5eb88b5d112c6.jpg" width="220" height="216">
        </td>
        <td><a href="https://www.goodreads.com/work/quotes/57044162-the-sun-and-her-flowers"> <h1>The Sun and the Flowers</a></h1>  <h3>Rupi Kaur</h3> <h2>price=₹74</h2></td>
    </tr>
    <tr>
        <td><img src="https://www.bookstellyouwhy.com/pictures/26450.jpg?v=1390476407" width="220" height="216">
        </td>
        <td><a href="https://www.goodreads.com/en/book/show/39391587"> <h1>Bury It</a></h1>  <h3>Sam Sax</h3> <h2>price=₹74</h2></td>

        <td><img src="https://th.bing.com/th/id/OIP.i4oUq1Gl83C4nY1rCLskGAAAAA?pid=ImgDet&rs=1" width="220" height="216">
        </td>
        <td><a href="https://www.goodreads.com/en/book/show/35871486"> <h1>Oceanic</a></h1>  <h3>Aimee Nezhukumatathil</h3> <h2>price=₹74</h2></td>

        <td><img src="https://th.bing.com/th/id/OIP.4XIDdrUSTEX4OSMSEld1twAAAA?pid=ImgDet&rs=1" width="220" height="216">
        </td>
        <td><a href="https://www.goodreads.com/book/show/9444.The_Complete_Collected_Poems"> <h1>The Complete Collected Poems</a></h1>  <h3>Maya Angelou</h3> <h2>price=₹74</h2></td>

        <td><img src="https://th.bing.com/th/id/OIP.8ChnXDcxtv9HoHxkI6GqJAAAAA?pid=ImgDet&rs=1" width="220" height="216">
        </td>
        <td><a href="https://www.goodreads.com/en/book/show/59808136"> <h1>Bride Picture</a></h1>  <h3>Lee Geum-yi</h3> <h2>price=₹74</h2></td>
    </tr>
</table>
</body>
</html>
