<!DOCTYPE html>
<html>
<head>
    <title>ROM-COM</title>
   </head>
<body style="background-color: antiquewhite;"> 
<h1><center><u>ROM-COM BOOKS</center></u></h1>
<table>
    <tr>
        <td><img src="https://th.bing.com/th/id/OIP.q2gzS7sL3Lal6pcXRjt_uAHaJ4?w=128&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" width="220" height="216">
        </td>
        <td><a href="https://www.goodreads.com/book/show/54189398-the-spanish-love-deception"> <h1>The Spanish Deception</a></h1>  <h3>Elena Armas</h3> <h2>price=₹74</h2></td>

        <td><img src="https://th.bing.com/th/id/OIP.KaamF08PgGIJ_vM5NFSHDAAAAA?pid=ImgDet&rs=1" width="220" height="216">
        </td>
        <td><a href="https://www.goodreads.com/en/book/show/56732449"> <h1>Love Hypothesis</a></h1>  <h3>HazelWood</h3> <h2>price=₹80</h2></td>

        <td><img src="https://th.bing.com/th/id/OIP.OTnpJi2aT0Mr-S0WUWXkwQHaJ3?pid=ImgDet&rs=1" width="220" height="216">
        </td>
        <td><a href="https://www.goodreads.com/en/book/show/41150487"> <h1>Red Royal Blue</a></h1>  <h3>Casey Mcquinston</h3> <h2>price=₹68</h2></td>

        <td><img src="https://th.bing.com/th/id/OIP.XXB0AjtNbc1stO3sHer6SQAAAA?w=127&h=203&c=7&r=0&o=5&dpr=1.3&pid=1.7" width="220" height="216">
        </td>
        <td><a href="https://www.goodreads.com/book/show/74045390-the-fine-print"> <h1>The Fine Print</a></h1>  <h3>Lauren Asher</h3> <h2>price=₹77</h2></td>
    </tr>


    <tr>
        <td><img src="https://cf.shopee.com.my/file/ae952eb7d4f165193d63ac2d6a860497" width="220" height="216">
        </td>
        <td><a href="https://www.goodreads.com/book/show/17788401-ugly-love"> <h1>Ugly Love</a></h1>  <h3>Collen Hover</h3> <h2>price=₹64</h2></td>

        <td><img src="https://3.bp.blogspot.com/-BQ-Jj2mxZ5Q/WRPbTVzKneI/AAAAAAAAZQE/MArGdcJ0QqoPNTUYldYt9u66XPy_sy-IgCKgB/s1600/It%2BEnds%2Bwith%2BUs%2Bby%2BColleen%2BHoover.JPG" width="220" height="216">
        </td>
        <td><a href="https://www.goodreads.com/en/book/show/27362503"> <h1>It ends with us</a></h1>  <h3>Collen Hover</h3> <h2>price=₹76</h2></td>

        <td><img src="https://th.bing.com/th/id/R.cbeef036537236d193ee423913cd6f88?rik=TZgLwf6F8Mm6Eg&riu=http%3a%2f%2fprodimage.images-bn.com%2fpimages%2f9780063045668_p0_v11_s1200x630.jpg&ehk=P71WW8nUw9QeGlmGSH78HghzNWkvcQoTiJW2gLnJYOw%3d&risl=&pid=ImgRaw&r=0" width="220" height="216">
        </td>
        <td><a href="https://www.goodreads.com/en/book/show/55659629"> <h1>It Happened One Summer</a></h1>  <h3>Tessa Bailey</h3> <h2>price=₹57</h2></td>

        <td><img src="https://i.pinimg.com/originals/41/f7/dc/41f7dc210ed052a9664f72f461190830.jpg" width="220" height="216">
        </td>
        <td><a href="https://www.goodreads.com/book/show/28763485-the-sun-is-also-a-star"> <h1>The Sun is also a Star</a></h1>  <h3>Nicola Yoon</h3> <h2>price=₹71</h2></td>
     


    </tr>




    </body>
    </html>
