<!DOCTYPE html>
<html>
  <head>

    <title>HORROR</title>
  </head>
  <style>
 
 .container {
  display: flex;
  align-items: right;
  justify-content: left;}




.text {
  font-size: 10px;
  padding-left: 10px;
}
  </style>
  <body style="background-color: cyan;">
    <center><h1>SCI-FI BOOKS</h1></center>
    <div class="container">
      <div class="image">
        <table style="text-align: center;">
            <tr>
                <td>
                    <img src="https://th.bing.com/th/id/OIP.p8IJgPkT7xP0ym3kVIvqVwHaKI?pid=ImgDet&rs=1"width="250" height="250">
                </td>
                <td><a href="https://www.panmacmillan.com/authors/adrian-tchaikovsky/eyes-of-the-void/9781529051957">
                <h1>EYES OF THE VOID</h1></a> <h3>BOOK BY ADRIAN CHAIKOVSKY </h3><br> <h3>Price ₹60</h3> 
                        
                </td>
                <td>
                    <img src="https://th.bing.com/th/id/OIP.Zp8yO6b51kqQLwf12QcwOQHaEH?pid=ImgDet&rs=1"  width="220" height="220">
                </td>
                <td><a href="https://www.arkadymartine.net/books/adcp">
                <h1>DESOLATION CALLED PEACE</h1></a> <h3>BOOK BY ARKADY MARTINE </h3> <h3>Price ₹70</h3> <
                </td>          
                <td>
                <img src="https://th.bing.com/th/id/OIP.c3zfX-MTjT-D5_arAMPU_gAAAA?pid=ImgDet&rs=1"width="250" height="250">
                </td>
                <td><a href="https://www.goodreads.com/book/show/58438576-tell-me-an-ending">
                <h1>TELL ME AN ENDING</h1></a> <h3>BOOK BY JO HARKIN   </h3> <h3>Price ₹80</h3> 
                                        
                </td>

                <td>
                <img src="https://th.bing.com/th/id/OIP.0Bt884m2FYxROOVNAB3aWQHaHa?pid=ImgDet&rs=1" width="220" height="220">
</td>
                <td><a href="https://www.goodreads.com/book/show/57693457-mickey7">
                <h1>GOLIATH </h1></a> <h3>BOOK BY EDWARD ASHTON </h3> <h3>Price ₹80</h3> 
                                        








                ><br>
                <tr>
                <td>
                <img src="https://pictures.abebooks.com/WORLDOFRAREBOOKS/md/md22468073083.jpg" width="220" height="220">
</td>
                <td><a href="https://pictures.abebooks.com/WORLDOFRAREBOOKS/md/md22468073083.jpg">
                <h1>OUT OF THE SILENT</h1></a> <h3>BOOK BY CS LEWIS  </h3> <h3>Price ₹80</h3> 
                <br>
                </td><br>
                <td>
                <img src="https://cdn.shopify.com/s/files/1/0095/9840/2656/products/young-adult-the-giver-quartet-series-4-books-box-set-by-lois-lowry-young-adults-paperback-1_580x@2x.jpg?v=1624030236" width="200" height="200">
               </td>
 <td><a href="">
                <h1>THE GIVER</h1></a> <h3>BOOK BY LOIS LOWRY</h3> <h3>Price ₹90</h3> <h3></h3>
                <br>
                </td><br>
                <td>
                <img src="https://webdiag547.blob.core.windows.net/live/images%2Fbooks%2F119614.jpg?sv=2020-04-08&st=2021-07-27T06:11:25Z&se=2026-07-27T06:16:25Z&sr=c&sp=r&sig=7AbwSGKTOqXgFvJU0PF5AvSkinDMB7Oxl%2FVuWYABF6g%3D" width="200" height="200">
</td>
                <td><a href="https://www.amazon.co.uk/Mickey7-Edward-Ashton/dp/178108923X">
                <h1>MICKEY 7</h1></a> <h3>BOOK BY EDWARD ASHTON</h3> <h3>Price ₹90</h3> 
                <br>
                </td><br>
                <td>
                <img src="https://i.pinimg.com/originals/45/05/8d/45058d0d64902d502788158cef7fd30f.jpg"width="220" height="220">
                </td>
                <td><a href="https://i.pinimg.com/originals/45/05/8d/45058d0d64902d502788158cef7fd30f.jpg">
                <h1>A THE MARTIAN CHRONICLES</h1></a> <h3>BOOK BY MADELEINE LENGLE </h3> <h3>Price ₹90</h3> 
                <br>
                </td><br>
                </tr>
                                                
                        
                    
            </tr>
            
        </table>
    

        
      </div>
      </div>
      
  </body>
</html>